

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Zero F</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/boot/assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/boot/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="http://127.0.0.1:8000/">Zero F</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'member:logout' %}">{{ user.username }} (Logout)</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'member:login' %}">LOG IN</a>
                            {% endif %}
                        </li>
                        
                        <li class="nav-item"><a class="nav-link" href='{% url "member:signup" %}'>SIGN UP</a></li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">재료 추가</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                      <form action="/stock/add/" method="post">
                        <p class="text-white-75">재료 이름 : <input type="text" name="Add_stock" /></p> 
                        <p class="text-white-75">재료 수량 : <input type="text" name="Add_amount" /></p>
                      
                      <label for="Add_month"><p class="text-white-75">유통 기한 : </label>
                      <input type="date" id="Add_month" name="Add_month"><br />
                      
                        {% csrf_token %}
                        <br />
                        <button class="btn btn-primary btn-xl">재료 추가</button> <a class="btn btn-primary btn-xl" href='{% url "stockapp:stock" %}'>열려야 재료</a>
                      </form>
                        {% comment %} <p class="text-white-75 mb-5">오늘 뭐 먹지?</p>
                        <a class="btn btn-primary btn-xl" href='{% url "stockapp:add" %}'>열려라 냉장고!</a>
                        <a class="btn btn-primary btn-xl" href='{% url "recipe2:search" %}'>열려라 레시피!</a> {% endcomment %}
                    </div>
                    
                </div>
            </div>
        </header>
        <!-- About-->

        <!-- Services-->

        <!-- Portfolio-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
    
        <!-- Contact-->

    </body>
</html>
