<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>zero_f</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/boot/assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/boot/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      
     
        <div class="container my-3">
            <div class="row my-3">
                <div class="col-4">
                    <h4><span style="color:white">SIGN UP</span></h4>
                </div>
               
            </div>
            <form method="post" class="post-form">
                {% csrf_token %}
                {% include "form_errors.html" %}

                <div class="form-group">
                    <label for="username"><span style="color:white">ID</span></label>
                    <input type="text" class="form-control" name="username" id="username"
                        value="{{ form.username.value | default_if_none:'' }}">
                </div>
                <br>
                <div class="form-group">
                    <label for="password1"><span style="color:white">PASSWORD</span></label>
                    <input type="password" class="form-control" name="password1" id="password1"
                        value="{{ form.password1.value | default_if_none:'' }}">
                </div>
                <br>
                <div class="form-group">
                    <label for="password2"><span style="color:white">CONFIRM PASSWORD</span></label>
                    <input type="password" class="form-control" name="password2" id="password2"
                        value="{{ form.password2.value | default_if_none:'' }}">
                </div>
                <br>
                <div class="form-group">
                    <label for="email"><span style="color:white">E-MAIL</span></label>
                    <input type="text" class="form-control" name="email" id="email"
                        value="{{ form.email.value | default_if_none:'' }}">
                </div>
                
                <br>
                <button type="submit"  class="btn btn-primary btn-xl"><span >CREATE</span></button>
            </form>
        </div>
    </header>
    <!-- About-->

    <!-- Services-->

    <!-- Portfolio-->
    </a>
    </div>
    </div>
    </div>
    </div>
    <!-- Call to action-->

    <!-- Contact-->

</body>

</html>