<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
{% extends "base2.html" %}

{% block title %}search.html{% endblock %}

{% block content %}

{% comment %} <h1>Recipe Search</h1> {% endcomment %}
<br>

<form action="." method="post"> {% csrf_token %}

        {{ form.as_table }} <!-- form을 테이블 형식으로 표시, 여기서 form은 views에서 넘겨준 PostSearchForm 객체임-->
    <input type="submit" value="Submit" class="btn btn-light">

</form>

<br/><br/>
{% comment %} 여기 부터 검색하면 나올 컨텐츠들 {% endcomment %}
<div class="row">
{% if object_list %}
    {% for post in object_list %}
    <div class="col-lg-4">
        <img src ="{{post.image}}" alt="이미지 테두리" style="width:300px; height:300px; border:10px solid white"  >
        <h4>{{ post.recipe }}</h4>

    </div>
        {% endfor %}
</div>        
{% elif search_term %}<!-- 검색란이 공란인지 확인-->
    <b><i>Search Word({{ search_term }}) Not Found</i></b>
{% endif %}
{% endblock %}
</tr>
</table>

